<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cистема управления обучением{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
      <link href="{% static 'css/base.css' %}" rel="stylesheet"> 
        <!--Наследование CSS с шаблонов-->
        {% block extra_css %}{% endblock %}
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Select2 для красивого выбора элементов -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">

</head>
    <!--Прелодер в виде белого фона-->
    <div class="preloader">
        <div class="loader"></div>
    </div>
<div class="background-block"></div>
<body style="background: none;">
    
    <div class="container-fluid content p-0 m-0">
       
        <div class="col-md-10  h-100 m-auto block-mobile" style="min-height: 92vh;padding-bottom:110px;">
        <!--Уведомления-->
            <div class="position-fixed top-0 p-3" style="z-index: 11; right: 0px; width: 400px;" >
            <div class="toast-container">
                {% for message in messages %}
                <div class="toast align-items-center text-white bg-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} border-0" role="alert" aria-live="assertive" aria-atomic="true">

                </div>
                {% endfor %}
            </div>
            </div>
        <!-- Навигационная панель -->
            <ul class="me-auto navy col-md-10">
                {% if user.is_authenticated %}
                    <li class="">
                        <a class="" href="{% url 'teacher_dashboard' %}?test_id={{ test.id }}">Дашборд</a>
                    </li>
                    {% if user.is_teacher or user.is_superuser %}
                        <li class="">
                            <a class="nav-link" href="{% url 'course_create' %}">Создать курс</a>
                        </li>
                    {% endif %}
                {% endif %}                    
                {% if user.is_authenticated %}
                    <div>
                        <div class="user-dropdown">
                        {% if user.is_authenticated and user.studentprofile %}
                            {% with student=user.studentprofile %}
                                <button class="dropdown-toggle" type="button" id="userMenu">
                                    <div class="avca-mini">
                                        {% if student.avatar %}
                                            <img src="{{ student.avatar.url }}" alt="Avatar" class="avatar-img">
                                        {% else %}
                                            <div class="avatar-pla">
                                                {{ student.last_name|first }}{{ student.first_name|first }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'student_profile' student.id %}">Профиль</a>
                                    <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
                                </div>
                            {% endwith %}
                        {% endif %}
                        </div>
                    </div>
                {% else %}
                {% endif %}
            </ul>            
            <!-- Основное содержимое -->
            <div class="row">
                <div class="col-md-12">
                    <!--Уведомления 2-->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    
                    {% block content %}
                    <!--Тут информация с шаблонов-->
                    {% endblock %}
                </div>
            </div>
        </div>
            <!-- Подвал -->
    <footer>
        <span class="">Система дистанционного обучения © {% now "Y" %}</span>
    </footer>
    </div>


      <!--Наследование JS с шаблонов-->
      {% block extra_js %}{% endblock %}
    <!-- Bootstrap JS и зависимости -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Select2 JS для реализации выборки по клику мыши -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script> 
</body>
</html>