<!DOCTYPE html>
{% load static %}
{% load breadcrumbs %}
{% load notification_tags %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cистема управления обучением{% endblock %}</title>
    
    <!-- Предзагрузка критичных ресурсов -->
    <link rel="preload" href="{% static 'css/base.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
    </noscript>
    
    <!-- Наследование CSS с шаблонов -->
    {% block extra_css %}{% endblock %}
</head>

<body>
<!-- Прелоадер -->
<div class="preloader" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: white; z-index: 9999; display: flex; justify-content: center; align-items: center;">
    <div class="loader"></div>
</div>

    <div class="container-fluid content p-0 m-0  w-bg">
        <div class="col-md-10 h-100 m-auto block-mobile" style="min-height: 92vh;padding-bottom:110px;">
            <!-- Уведомления -->
            <div class="position-fixed top-0 p-3" style="z-index: 11; right: 0px; width: 400px;">
                <div class="toast-container">
                    {% for message in messages %}
                    <div class="toast align-items-center text-white bg-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} border-0" role="alert" aria-live="assertive" aria-atomic="true"></div>
                    {% endfor %}
                </div>
            </div>
            
            <!-- Навигационная панель -->
            <ul class="me-auto navy col-md-10">
                <div>
                    <!-- Логотип проекта -->
                    <a href="/">
                        <svg class="logo" width="60" height="60" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="165" cy="80" r="22" fill="#5a9c8f" opacity="0.9"/>
                            <circle cx="147" cy="50" r="22" fill="#5a9c8f" opacity="0.9"/>
                            <circle cx="117" cy="34" r="22" fill="#5a9c8f" opacity="0.9"/>
                            <circle cx="90" cy="110" r="90" fill="#76bdad" filter="url(#shadow)"/>
                            <defs>
                                <filter id="shadow" x="-10%" y="-10%" width="120%" height="120%">
                                    <feDropShadow dx="3" dy="3" stdDeviation="5" flood-opacity="0.2"/>
                                </filter>
                            </defs>
                            <path d="M100 40a60 60 0 1 1 0 120 60 60 0 0 1 0-120zm0 20a40 40 0 1 0 0 80 40 40 0 0 0 0-80z" 
                                fill="white" stroke="#fff" stroke-width="2"/>
                            <path d="M140 100a40 40 0 0 0-40-40v20a20 20 0 0 1 20 20h20z" 
                                fill="white" stroke="#fff" stroke-width="2"/>
                        </svg>
                    </a>
                    <h2 class="name"><span>Учреждение образования</span><br>«Полное название учреждения длинное»</h2>
                </div>

                {% if user.is_authenticated %}
                <div>
                      <div class="tumbler-wrapper">
    <div class="tumbler"></div>
    <svg viewBox="0 0 60 60">
      <path style="fill:#F0C419;" d="M30,0c-0.552,0-1,0.448-1,1v6c0,0.552,0.448,1,1,1s1-0.448,1-1V1C31,0.448,30.552,0,30,0z"/>
      <path style="fill:#F0C419;" d="M30,52c-0.552,0-1,0.448-1,1v6c0,0.552,0.448,1,1,1s1-0.448,1-1v-6C31,52.448,30.552,52,30,52z"/>
      <path style="fill:#F0C419;" d="M59,29h-6c-0.552,0-1,0.448-1,1s0.448,1,1,1h6c0.552,0,1-0.448,1-1S59.552,29,59,29z"/>
      <path style="fill:#F0C419;" d="M8,30c0-0.552-0.448-1-1-1H1c-0.552,0-1,0.448-1,1s0.448,1,1,1h6C7.552,31,8,30.552,8,30z"/>
      <path style="fill:#F0C419;" d="M46.264,14.736c0.256,0,0.512-0.098,0.707-0.293l5.736-5.736c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0l-5.736,5.736c-0.391,0.391-0.391,1.023,0,1.414C45.752,14.639,46.008,14.736,46.264,14.736z"/>
      <path style="fill:#F0C419;" d="M13.029,45.557l-5.736,5.736c-0.391,0.391-0.391,1.023,0,1.414C7.488,52.902,7.744,53,8,53s0.512-0.098,0.707-0.293l5.736-5.736c0.391-0.391,0.391-1.023,0-1.414S13.42,45.166,13.029,45.557z"/>
      <path style="fill:#F0C419;" d="M46.971,45.557c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414l5.736,5.736C51.488,52.902,51.744,53,52,53s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414L46.971,45.557z"/>
      <path style="fill:#F0C419;" d="M8.707,7.293c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414l5.736,5.736c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414L8.707,7.293z"/>
      <path style="fill:#F0C419;" d="M50.251,21.404c0.162,0.381,0.532,0.61,0.921,0.61c0.13,0,0.263-0.026,0.39-0.08l2.762-1.172c0.508-0.216,0.746-0.803,0.53-1.311s-0.804-0.746-1.311-0.53l-2.762,1.172C50.272,20.309,50.035,20.896,50.251,21.404z"/>
      <path style="fill:#F0C419;" d="M9.749,38.596c-0.216-0.508-0.803-0.746-1.311-0.53l-2.762,1.172c-0.508,0.216-0.746,0.803-0.53,1.311c0.162,0.381,0.532,0.61,0.921,0.61c0.13,0,0.263-0.026,0.39-0.08l2.762-1.172C9.728,39.691,9.965,39.104,9.749,38.596z"/>
      <path style="fill:#F0C419;" d="M54.481,38.813L51.7,37.688c-0.511-0.207-1.095,0.041-1.302,0.553c-0.207,0.512,0.041,1.095,0.553,1.302l2.782,1.124c0.123,0.049,0.25,0.073,0.374,0.073c0.396,0,0.771-0.236,0.928-0.626C55.241,39.603,54.994,39.02,54.481,38.813z"/>
      <path style="fill:#F0C419;" d="M5.519,21.188L8.3,22.312c0.123,0.049,0.25,0.073,0.374,0.073c0.396,0,0.771-0.236,0.928-0.626c0.207-0.512-0.041-1.095-0.553-1.302l-2.782-1.124c-0.513-0.207-1.095,0.04-1.302,0.553C4.759,20.397,5.006,20.98,5.519,21.188z"/>
      <path style="fill:#F0C419;" d="M39.907,50.781c-0.216-0.508-0.803-0.745-1.311-0.53c-0.508,0.216-0.746,0.803-0.53,1.311l1.172,2.762c0.162,0.381,0.532,0.61,0.921,0.61c0.13,0,0.263-0.026,0.39-0.08c0.508-0.216,0.746-0.803,0.53-1.311L39.907,50.781z"/>
      <path style="fill:#F0C419;" d="M21.014,9.829c0.13,0,0.263-0.026,0.39-0.08c0.508-0.216,0.746-0.803,0.53-1.311l-1.172-2.762c-0.215-0.509-0.802-0.747-1.311-0.53c-0.508,0.216-0.746,0.803-0.53,1.311l1.172,2.762C20.254,9.6,20.625,9.829,21.014,9.829z"/>
      <path style="fill:#F0C419;" d="M21.759,50.398c-0.511-0.205-1.095,0.04-1.302,0.553l-1.124,2.782c-0.207,0.512,0.041,1.095,0.553,1.302c0.123,0.049,0.25,0.073,0.374,0.073c0.396,0,0.771-0.236,0.928-0.626l1.124-2.782C22.519,51.188,22.271,50.605,21.759,50.398z"/>
      <path style="fill:#F0C419;" d="M38.615,9.675c0.396,0,0.771-0.236,0.928-0.626l1.124-2.782c0.207-0.512-0.041-1.095-0.553-1.302c-0.511-0.207-1.095,0.041-1.302,0.553L37.688,8.3c-0.207,0.512,0.041,1.095,0.553,1.302C38.364,9.651,38.491,9.675,38.615,9.675z"/>
      <circle style="fill:#F0C419;" cx="30" cy="30" r="20"/>
      <circle style="fill:#EDE21B;" cx="30" cy="30" r="15"/>
    </svg>
    <svg viewBox="0 0 499.712 499.712">
      <path style="fill:#FFD93B;" d="M146.88,375.528c126.272,0,228.624-102.368,228.624-228.64c0-55.952-20.16-107.136-53.52-146.88C425.056,33.096,499.696,129.64,499.696,243.704c0,141.392-114.608,256-256,256c-114.064,0-210.608-74.64-243.696-177.712C39.744,355.368,90.944,375.528,146.88,375.528z"/>
      <path style="fill:#F4C534;" d="M401.92,42.776c34.24,43.504,54.816,98.272,54.816,157.952c0,141.392-114.608,256-256,256c-59.68,0-114.448-20.576-157.952-54.816c46.848,59.472,119.344,97.792,200.928,97.792c141.392,0,256-114.608,256-256C499.712,162.12,461.392,89.64,401.92,42.776z"/>
      <polygon style="fill:#FFD83B;" points="128.128,99.944 154.496,153.4 213.472,161.96 170.8,203.56 180.864,262.296 128.128,234.568 75.376,262.296 85.44,203.56 42.768,161.96 101.744,153.4"/>
      <polygon style="fill:#FFD83B;" points="276.864,82.84 290.528,110.552 321.104,114.984 298.976,136.552 304.208,166.984 276.864,152.616 249.52,166.984 254.752,136.552 232.624,114.984 263.2,110.552"/>
    </svg>
  </div>
                    <div class="user-dropdown">
                        {% if user.is_authenticated %}
                            <button class="dropdown-toggle" type="button" id="userMenu">
                                <div class="avca-mini">
                                    {% if user.studentprofile %}
                                        {% with student=user.studentprofile %}
                                            {% if student.avatar %}
                                                <img src="{{ student.avatar.url }}" alt="Avatar" class="avatar-img" loading="lazy">
                                            {% else %}
                                                <div class="avatar-pla">
                                                    {{ student.last_name|first }}{{ student.first_name|first }}
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                    {% elif user.teacherprofile %}
                                        {% with teacher=user.teacherprofile %}
                                            {% if teacher.avatar %}
                                                <img src="{{ teacher.avatar.url }}" alt="Avatar" class="avatar-img" loading="lazy">
                                            {% else %}
                                                <div class="avatar-pla">
                                                    {{ teacher.last_name|first }}{{ teacher.first_name|first }}
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                    {% endif %}
                                </div>
                            </button>
                            <div class="dropdown-menu">
                                {% if user.studentprofile %}
                                    <a class="" href="{% url 'student_profile' user.studentprofile.id %}">Профиль</a>
                                {% elif user.teacherprofile %}
                                    <a class="" href="{% url 'teacher_profile' user.teacherprofile.id %}">Профиль</a>
                                {% endif %}
                                <a class="" href="{% url 'logout' %}">Выйти</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </ul>  
            
            <!-- Иконки уведомлений -->
            <div class="box-uv"> 
                <a href="{% url 'notifications' %}" id="notification-bell">
                    <div style="position: relative; display: inline-block;">
                        {% unread_notifications_count request.user as unread_count %}
                        {% if unread_count > 0 %}
                            <span class="schet" id="notification-counter">{{ unread_count }}</span>  
                        {% endif %}
                        <svg class="uv-tick" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612.281 612.281" style="enable-background:new 0 0 612.281 612.281;" xml:space="preserve"><g><g id="_x37__29_"><g><path d="M510.533,26.617C413.372-28.176,289.119,4.341,233.021,99.238l-81.25,137.471L0.142,334.504l158.339,89.288l0,0 c-28.049,47.448-11.403,108.116,37.167,135.513c48.591,27.396,110.708,11.138,138.757-36.311l158.339,89.287l10.894-177.147 l81.25-137.471C640.987,202.765,607.695,81.41,510.533,26.617z M215.967,524.932c-29.15-16.442-39.126-52.834-22.317-81.312 l105.566,59.525C282.387,531.623,245.118,541.373,215.967,524.932z M549.7,277.814l-81.25,137.471l-8.16,132.861L73.233,329.894 l113.726-73.335l81.25-137.471C313.088,43.161,412.473,17.152,490.215,60.99C567.958,104.808,594.579,201.888,549.7,277.814z"/></g></g></g></svg>
                    </div>
                </a>
                <a href="{% url 'active_chats' %}"  id="chat-icon">
                    <div>
                        <span class="schet" style="display: none;">0</span>  
                        <svg class="uv-sms" id="Layer_1" enable-background="new 0 0 56 56" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><path d="m49 12.4h-42c-2 0-4 1.7-4 4v23.2c0 2.2 1.8 4 4 4h42c2.2 0 4-1.8 4-4v-23.2c0-2.3-2-4-4-4zm-10.7 15.1 12.3-12.3c.3.3.4.8.4 1.2v23.2c0 .2 0 .3-.1.5zm-8.5 5.6c-1 1-2.7 1-3.7 0l-18.7-18.7h41.1zm-24.7 7c-.1-.2-.1-.3-.1-.5v-23.2c0-.5.2-.9.4-1.2l12.3 12.3zm1.9 1.5c-.2 0-.3 0-.5-.1l12.6-12.6 5.7 5.7c1.8 1.8 4.7 1.8 6.5 0l5.7-5.7 12.6 12.6c-.2 0-.3.1-.5.1z"/></svg>
                    </div>
                </a>

            </div>      

            <!-- Хлебные крошки -->
            <div class="col-md-10 m-auto">
                <nav aria-label="breadcrumb" class="breadcrumb">
                    <ol class="breadcrumb p-2 rounded">
                        {% if request.resolver_match.url_name != 'course_list' %}
                        <svg onclick="history.back()" id="Layer_1" enable-background="new 0 0 128 128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="arrow-left">
                            <circle cx="57" cy="56" r="3"/>
                            <path d="m7.6 64c0 3.2 1.2 6.2 3.5 8.5l34.3 34.3c2.3 2.3 5.4 3.5 8.5 3.5s6.1-1.2 8.5-3.5c2.3-2.3 3.5-5.3 3.5-8.5s-1.2-6.2-3.5-8.5l-14.8-14.8h66.4c1.7 0 3-1.3 3-3s-1.3-3-3-3h-73.7c-1.2 0-2.3.7-2.8 1.9s-.2 2.4.7 3.3l20 20c2.3 2.3 2.3 6.1 0 8.5-2.3 2.3-6.1 2.3-8.5 0l-34.4-34.5c-1.1-1.1-1.8-2.6-1.8-4.2s.6-3.1 1.8-4.2l34.3-34.3c2.3-2.3 6.1-2.3 8.5 0 2.3 2.3 2.3 6.1 0 8.5l-20 20c-.9.9-1.1 2.1-.7 3.3s1.6 1.9 2.8 1.9h53.8c1.7 0 3-1.3 3-3s-1.3-3-3-3h-46.4l14.9-14.9c2.3-2.3 3.5-5.3 3.5-8.5s-1.2-6.2-3.5-8.5c-4.7-4.7-12.3-4.7-17 0l-34.4 34.2c-2.3 2.3-3.5 5.3-3.5 8.5z"/></svg>
                        {% endif %}                  
                        {% dynamic_breadcrumbs as crumbs %}
                        {% for crumb in crumbs %}
                            <li class="breadcrumb-item{% if not crumb.url or forloop.last %} active{% endif %}">
                                {% if crumb.url and not forloop.last %}
                                    <a href="{{ crumb.url }}" class="text-decoration-none breadcrumb-link">{{ crumb.title }}</a>
                                {% else %}
                                    <span>{{ crumb.title }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>
                </nav>
            </div>
            
            <!-- Основное содержимое -->
            <div class="row">
                <div class="col-md-12 ">
                    <!-- Уведомления 2 -->
{% if "/chat/session/" not in request.path %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endif %}
                    
                    {% block content %}
                    <!-- Тут информация с шаблонов -->
                    {% endblock %}
                </div>
            </div>
        </div>
        
        <!-- Подвал -->
        <footer>
            <span class="">Система дистанционного обучения © {% now "Y" %}</span>
        </footer>
    </div>

    <!-- Подключаем только необходимые скрипты -->
    <script src="{% static 'js/bootstrap.min.js' %}" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js" defer></script>
    
    <!-- Основные модули JavaScript -->
    <script type="module" src="{% static 'js/modules/preloader.js' %}" defer></script>
    <script type="module" src="{% static 'js/modules/lazyLoading.js' %}" defer></script>
    <script type="module" src="{% static 'js/modules/dropdown.js' %}" defer></script>
    <script type="module" src="{% static 'js/modules/select2Init.js' %}" defer></script>
    <script type="module" src="{% static 'js/modules/scroll.js' %}" defer></script>
    <script type="module" src="{% static 'js/modules/tumbler.js' %}" defer></script>
    
    <!-- Общий скрипт для инициализации -->
     <script src="{% static 'js/figury.js' %}"></script>
    <script src="{% static 'js/base.js' %}" defer></script>

    <!--Наследование JS с шаблонов-->
    {% block extra_js %}{% endblock %}
</body>
</html>