{% extends 'lms_cleint/base.html' %}
{% load static %}
{% block content %}
<div class="pod-header">
    <h4>Курсы</h4>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Преподаватели</th>
             {% if user.is_teacher or user.teacherprofile %}
            <th>Группы</th>
           <th>Действия</th> 
           {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td><a href="{% url 'subject_list' course.id %}">{{ course.name }}</a></td>
            <td>
                {% for teacher in course.teachers.all %}
                <a href="{% url 'teacher_profile' teacher.id %}">{{ teacher.last_name }} {{ teacher.first_name|slice:":1" }}.</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
              {% if user.is_teacher or user.teacherprofile %}
            <td>
                {% for group in course.student_groups.all %}
                <a href="{% url 'group_list' group.id %}">{{ group.group_number }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
           
            <td>
               
                <a href="{% url 'course_edit' course.id %}" class="list-button"><img class="img-birch" src="{% static 'images/remove.png' %}" alt="Редактировать" title="Редактировать"></a>

                <a href="{% url 'course_delete' course.id %}"  class="list-button-2"><img class="img-birch-2" src="{% static 'images/deletetwo.png' %}"  alt="Удалить" title="Удалить"></a>
               
            </td>
             {% endif %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Курсы пока не созданы</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if user.is_teacher or user.teacherprofile %}
<a href="{% url 'course_create' %}" class="submit-button">Создать новый курс</a>
{% endif %}
{% endblock %}