{% extends 'lms_cleint/base.html' %}

{% block content %}
<div class="col-md-4 m-auto">
<div class="card-item-profile">
    <div class="avca">
    {% with student=user.studentprofile %}
        {% if student.avatar %}
            <img src="{{ student.avatar.url }}" alt="Avatar" class="avatar-img">
        {% else %}
            <div class="avatar-pla">
                {{ student.last_name|first }}{{ student.first_name|first }}
            </div>
        {% endif %}
    {% endwith %}

    </div>
    <table class="table-profile">
        <tr>
            <td>ФИО:</td>
            <td>{{ student.last_name }} {{ student.first_name }} {{ student.middle_name }}</td>
        </tr>
        <tr>
            <td>Номер зачетной книжки:</td>
            <td>{{ student.record_book_number|default:"N/A" }}</td>
        </tr>
        <tr>
            <td>Группа:</td>
            <td>{{ student.group.group_number }}</td>
        </tr>
        <tr>
            <td>Электронная почта:</td>
            <td>{{ student.email|default:"N/A" }}</td>
        </tr>
        <tr>
            <td>Номер телефона:</td>
            <td>{{ student.phone_number|default:"N/A" }}</td>
        </tr>
    </table>

</div>
</div>
{% endblock %}
