{% extends 'lms_cleint/base.html' %}

{% block content %}
<div class="col-md-6 m-auto">
<h2>Профиль студента</h2>
<div class="card-item-profile">
    <div class="avca">
    {% with student=user.studentprofile %}
        {% if student.avatar %}
            <img src="{{ student.avatar.url }}" alt="Avatar" class="avatar-img">
        {% else %}
            <div class="avatar-pla">
                {{ student.last_name|first }}{{ student.first_name|first }}
            </div>
        {% endif %}
    {% endwith %}

    </div>
    <p><strong>ФИО:</strong> {{ student.last_name }} {{ student.first_name }} {{ student.middle_name }}</p>
    <p><strong>Номер зачетной книжки:</strong> {{ student.record_book_number|default:"N/A" }}</p>
    <p><strong>Группа:</strong> {{ student.group.group_number }}</p>
    <p><strong>Электронная почта:</strong> {{ student.email|default:"N/A" }}</p>
    <p><strong>Номер телефона:</strong> {{ student.phone_number|default:"N/A" }}</p>
</div>
</div>
{% endblock %}
