{% extends 'lms_cleint/base.html' %}

{% block content %}
<div class="col-md-8 m-auto profile-fon">
<div class="row">
<div class="col-md-6 m-auto">
<div class="card-item-profile">
        <div class="avca">
            {% if teacher.avatar %}
                    <img src="{{ teacher.avatar.url }}" alt="Avatar" class="avatar-img">
            {% else %}
            <div class="avatar-pla">
                {{ teacher.generate_avatar_circle_pre }}
            </div>
             {% endif %}
        </div>
            <table class="table-profile">
                <tr>
                    <td>ФИО:</td>
                    <td>{{ teacher.last_name }} {{ teacher.first_name }} {{ teacher.middle_name }}</td>
                </tr>
                <tr>
                    <td>Категория:</td>
                    <td>{{ teacher.get_category_display }}</td>
                </tr>
                <tr>
                    <td>Должность:</td>
                    <td>{{ teacher.position }}</td>
                </tr>
                <tr>
                    <td>Кабинет:</td>
                    <td>{{ teacher.classroom }}</td>
                </tr>
                <tr>
                    <td>Номер телефона:</td>
                    <td>{{ teacher.phone }}</td>
                </tr>
            </table>
    </div>
</div>
<div class="col-md-6 m-auto">
        <table class="table-profile" style="margin: auto;">
        <tr>
            <td>
                <!-- Исправленная проверка роли пользователя -->
                {% if user.studentprofile %}
                <form method="post" action="{% url 'start_chat' teacher.id %}">
                    {% csrf_token %}
                    <button type="submit" class="add_answer size">Начать чат</button>
                </form>
                {% elif user.teacherprofile %}
                <a href="{% url 'active_chats' %}" class="add_answer size">Активные чаты</a>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
</div>
</div>
{% endblock %}

