{% extends 'base.html' %}

{% block content %}
<h2>{{ module.title }}</h2>
<p>{{ module.description|safe }}</p>
<a href="{% url 'create_material' module.id %}" class="btn btn-primary mb-3">Создать материал</a>
<div class="row">
  {% for material in materials %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ material.title }}</h5>
          <p class="card-text">{{ material.content|truncatewords:20 }}</p>
          <a href="{% url 'material_detail' material.id %}" class="btn btn-primary">Перейти к материалу</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<a href="{% url 'edit_module' module.id %}" class="btn btn-secondary">Редактировать модуль</a>
<a href="{% url 'delete_module' module.id %}" class="btn btn-danger">Удалить модуль</a>
{% endblock %}
