html, body 
{
    height: 100%;
}
 body 
 {    
    min-height: 92vh; /* Занимает минимум весь экран */
}
.content 
{
    flex-direction: column;  /* Добавлено */
}


footer 
{
    background: #333;
    color: white;
    height: 8vh;
    display: flex;
    text-align: center;
    opacity: .9;
    align-items: center;
    justify-content: space-evenly;
    bottom: 0;
    position: relative;
    width: 100%;
}
.navbar 
{
     margin-bottom: 20px;
}
.teacher-info:hover 
{
    cursor: help;
}
.toast 
{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    padding-right: 1rem;;
}
.toast-body
{
    padding:1rem;
}
.navy
{
    position: relative;
    z-index: 9999;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.navy div
{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.list-button img{
    width: 30px;
    transition: .2s;
    opacity: .7;
    filter: brightness(3) invert(1) sepia(80%) saturate(1200%) hue-rotate(145deg) brightness(0.9);}
.list-button img:hover{
    opacity: 1;
}
.list-button-2 img{
        border-radius: 500%;
    border: 2px solid #000;
    width: 30px;
    padding: 2px;
    transition: .2s;
    opacity: .7;
    filter: brightness(3) invert(1) sepia(95%) saturate(1200%) hue-rotate(145deg) brightness(0.8);
}
.list-button-2 img:hover{
    opacity: 1;
}
.submit-button 
{   
    text-decoration: none;
    transition: .4s;
    background: #76bdad;
    border: none;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-top: .6rem;
    padding-bottom: .8rem;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(23, 22, 22, 0.29);
}
.submit-button:hover, .submit-button:focus, .submit-button:active 
{
    background: #639388;
}
.pod-header{
    background: #76bdad6b;
    padding: 2rem;
    border-radius: 30px;
    margin-bottom: 1.5rem;;
    color: #959090;
}